@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Product Sans", sans-serif;
  font-family: "Product Sans Thin", sans-serif;
  font-family: "Product Sans Light", sans-serif;
  font-family: "Product Sans Medium", sans-serif;
  font-family: "Product Sans Black", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  /** color: rgba(255, 255, 255, 0.87);
   background-color: #242424;**/

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Product Sans Medium", sans-serif;
}

.bullet {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  max-width: 1px;
  background-color: greenyellow;
  transition: left 1s linear;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
